<div class="demo-button-container">
    
</div>
  
  @if(employeeList && employeeList.length > 0)
  {
    <div class="flex justify-end p-8">
      <button routerLink="create-employee" mat-raised-button color="primary" class="demo-button">Add data</button>
    </div>
    <table mat-table [dataSource]="employeeList" class="mat-elevation-z8 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id.</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>FirstName</th>
        <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>LastName</th>
        <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
      </ng-container>
    
      <!-- Symbol Title -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>
  
        <!-- Symbol Address -->
      <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element">{{element.address}}</td>
        </ng-container>
        
      <!-- Symbol Image -->
      <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element">
              <img [src]="getElementImageUrl(element.image)" alt="Employee Image" style="width: 50px; height: 50px;">
          </td>
      </ng-container>
    
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  }
  